<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">
    </properties>
    <typeAliases>
        <typeAlias type="com.netcracker.unc.model.User" alias="user"/>
        <typeAlias type="com.netcracker.unc.model.Post" alias="post"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.netcracker.unc.dao.type.IntegerArrayTypeHandler" javaType="java.util.ArrayList" jdbcType="ARRAY"/>
    </typeHandlers>
</configuration>